<div>
    <h1>{{Planet.name}}</h1>
    <div>
        <h4>Number of moons: {{Planet.moons}} </h4>


        <h4>distance from the sun: {{Planet.distanceFromSun}} km</h4>
        <button *ngIf="!editing" (click)="startEditing()">Edit</button>
        
            <input #planetName type="text" [value]="Planet.name">
            <input #planetMoons type="text" [value]="Planet.moons">
            <input #planetDistance type="text" [value]="Planet.distanceFromSun">
        
        <button *ngIf="editing"
            (click)="stopEditing(planetName.value,planetMoons.value,planetDistance.value)">Save</button>
        <button *ngIf="!editing" #delete (click)="DeletePlanet(this.Planet.name)"> Delete</button>
    </div>
    <img  src={{Planet.Url}} alt="" width="300"
        height="300">

</div>